<div class="container-general">
  <img src="https://i.ibb.co/1Jj6jff/danii.jpg" alt="image" />
  <h2>Daniel Sarmiento Dev</h2>
  <p>
    Hello! my name is daniel sarmiento, I have been programming since 2018, I
    started learning C and Python. now i am learning Javascript frameworks like
    vue js, angular and react.
  </p>

  <h4>
    I like programming in python.I would like to learn machine learning but for
    the moment I will improve my level in javascript.
  </h4>
  <h3>feats</h3>
  <p>
    I have participated in different talks and research competitions, both
    national and international, the last one was in 2019 on the 2nd Imersão
    Acadêmica Cultura Científica + XI COBRIC in São Paulo, October 31, 2019.
  </p>
  <div class="Social">
    <h2>Social Network</h2>
    <p>Instagram</p>
    <a href="https://www.instagram.com/danielsarmientodev/"
      >@danielsarmientodev</a
    >
    <p>Twitter</p>
    <a href="https://twitter.com/dev_sarmiento">@dev_sarmiento</a>
    <p>Youtube</p>
    <a href="https://www.youtube.com/channel/UCySJuEAlK7HYF1lrYYiFOgQ"
      >Daniel Dev</a
    >
  </div>
</div>
