.proyects {
  color: white;
  margin-top: 50px;
  text-align: center;
}

.proyects h1 {
  margin-top: 50px;
}

.proyects a {
  text-decoration: none;
  font-style: normal;
  background: greenyellow;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
}
