<div class="proyects">
  <h1>
    Consuming Api Store Example Platzi, aplication angular 10 implement tecnices
    Lazy loading for Proyect Reactive and scaleable. Whit System Administration
    products.
  </h1>
  <a href="https://store-2edff.web.app/">Link proyect</a>
  <h1>
    Create a Crypto Exchange using VueJs + TailwindCss + netlify for
    production,using API coincap.
  </h1>
  <a href="https://cryptoexchangevuejs.netlify.app/">Link proyect</a>
  <h1>Clone Instagram funtional With Django</h1>
  <a href="https://github.com/DanielSarmientoDev/Instagram-with-Django"
    >Link proyect</a
  >
  <h1>Checker Bin Information Alls Credit cards using Binlist API</h1>
  <a href="https://github.com/DanielSarmientoDev/Checker-Bin-Information"
    >Link proyect</a
  >
  <h1>IP Information Locate using Ip-api.com API</h1>
  <a href="https://github.com/DanielSarmientoDev/IP-INFORMATION-LOCATION"
    >Link proyect</a
  >
</div>
