/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: url("./assets/images/bg.jpg");
  background-attachment: fixed;
  background-clip: padding-box;
  background-size: cover;
}
